/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #CC0044;
}

/*書きこ日時 size\*/
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
/*post tittle size*/
.post > header h1 { font-size: 3.5em; margin-bottom: 0; }
/* tittle & date color*/
h1 { font-family: serif; color: #37a99e; margin: 1rem 0; }
/* left hitbox  high calenders right position? */
nav h1 a { text-decoration: none; padding: 0.25rem 45rem; }

nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }